<html lang="en" ng-app="myApp">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <title></title>
  <link rel="stylesheet" href="css/style.css"/>
</head>
<body>
    <div class="answer-wrapper">
      <div class="headerbar2">
        <a href="index.html"><img src="img/yellow_close.png" ng-click="goHome()"></a>
        <div class="text">Question 1</div>
      </div>

      <div class="content">
        <div class="question">
          <span>
            Many businesses, nonprofits, and government agencies view information as an asset. If elected, how will your administration increase access to 
            this important asset for benefit of the Commonwealth?
          <span>
          <div class="divider"></div>
        </div>

        

        <div class="person" ng-repeat="person in [1, 2, 3]">
          <div class="head">
            <img src="img/people/corbet.png">
            <div class="name">Tom Corbett</div>
          </div>
          <div class="blurb">
            <div class="text">
              We are still waiting for a response from Tom Corbett. 
            </div>
          </div>
        </div>

        <div class="person" ng-repeat="person in [1, 2, 3]">
          <div class="head">
            <img src="img/people/glover.png">
            <div class="name">Paul Glover</div>
          </div>
          <div class="blurb">
            <div class="text">
              I favor complete availability of all public records, written and broadcast, 
              in any medium, that pertain to public deliberation, in formats easily 
              understandable by the broadest public, and at no cost to nonprofits and 
              private citizens. 
              </br></br>               
              I’ve been a journalist for 48 years (publisher of newspapers, articles, 
              blogs, reports), dedicated to fostering an informed public, to strengthen 
              the democratic process. The Freedom of Information Act was prompted 
              by Ralph Nader, our foremost Green Party advocate. 
 
            </div>
          </div>
        </div>

       <div class="person" ng-repeat="person in [1, 2, 3]">
          <div class="head">
            <img src="img/people/guzzardi.png">
            <div class="name">Bob Guzzardi</div>
          </div>
          <div class="blurb">
            <div class="text">
              Searchable databases of government sites is critical to informing general public and businesses.  Searchable databases are critical to holding government accountable and exposing inefficiencies and corruption. For example, search engines that could search for “legal fees paid” and generate a report with all the names, amounts dates and copies of contracts would be very useful. Cross referencing to names of clients who have been awarded government contracts and campaign contributions by both client vendors, their campaign contributions and the contributions of their law firms would be helpful to discover corruption. Correlating contracts and campaign contributions online would have exposed the Turnpike contracts for campaign contributions. 
              </br></br> 
              I think actual salaries of all government employees need to be posted, that is, the actual amount paid to each, as well as cost of benefits. 
              </br></br> 
              The check register online with search engine that would show who gets paid and how much would be useful. 
              </br></br> 
              The campaign contribution website of the Department of State is cumbersome and difficult to use and needs to be made more “searchable” and user friendly. 

            </div>
          </div>
        </div>

        <div class="person" ng-repeat="person in [1, 2, 3]">
          <div class="head">
            <img src="img/people/Krawchuk.png">
            <div class="name">Ken Krawchuk</div>
          </div>
          <div class="blurb">
            <div class="text">
              Information access can be improved in several ways: 
               </br></br>
              * Subject all state contracts over a certain amount ($1,000,000, for example) to a cooling-off period during 
              which the award and the justification would be publicly available; 
               </br></br>
              * Require each state agency to dedicate an appropriate portion of its budget on making its operations 
              public; 
               </br></br>
              * Establish a web site for citizens to collaboratively submit petitions for specific data to be released. Each 
              month, the top ten citizen requests for data, in terms of valid signatures, would be expedited; 
            </div>
          </div>
        </div>

        <div class="person" ng-repeat="person in [1, 2, 3]">
          <div class="head">
            <img src="img/people/mccord.png">
            <div class="name">Rob McCord</div>
          </div>
          <div class="blurb">
            <div class="text">
              I want to ensure the websites of government agencies are as comprehensive as possible in
              terms of data availability and as simple as possible to navigate. As someone who invested
              in technology-based businesses, I recognize the benefits of easy access to information. The
              democratization of information can be a great tool that empowers citizens. Expanding open
              data practices will be one of my information technology initiatives as governor.
              </br></br>
              Fortunately, Pennsylvania has a number of platforms on which to build and improve. As
              treasurer, I have played an important role in administering one of those platforms: the state’s
              e-contracts database, which allows users to find agreements between state agencies and
              vendors. Additionally, the state administers the PennWatch system, which is a firstgeneration
              open data-type portal for the commonwealth. On top of these two, the state
              budget office maintains an online performance management tool to track how well the
              commonwealth meets its operational goals.
              </br></br>
              As governor, I intend to build on these platforms and find ways to integrate the information
              each contains in order to provide one seamless resource for users that spans all of state
              government.
            </div>
          </div>
        </div>   

        <div class="person" ng-repeat="person in [1, 2, 3]">
          <div class="head">
            <img src="img/people/mcginty.png">
            <div class="name">Katie McGinty</div>
          </div>
          <div class="blurb">
            <div class="text">
               
              I believe the first step to needed to be taken to improve and enhance the sharing of data 
              is to audit and inventory all information that is available. Before we can create and 
              execute an efficient plan to provide access to the defined open data information, we 
              must know the extent of how much information exists, what format is the information 
              available (hard copy, electronic files, etc.) and where the information is currently stored. </br></br>
               
              As Governor, I will direct a comprehensive inventory of all data and request from experts 
              the options available to my administration to create an efficient, cost-effective process to 
              provide access to and maintain all the data. In addition, I will direct the implementation of 
              industry best management practices for a simplified process, with the least amount of 
              constraints possible. 

            </div>
          </div>
        </div> 

        <div class="person" ng-repeat="person in [1, 2, 3]">
          <div class="head">
            <img src="img/people/schwarts.png">
            <div class="name">Allyson Schwartz</div>
          </div>
          <div class="blurb">
            <div class="text">
              I will modernize online systems for state contract reporting and ensure that application tools are easily accessible online. This will help small businesses more easily navigate the state contracting process and level the playing field in Pennsylvania. 
            </div>
          </div>
        </div> 


       <div class="person" ng-repeat="person in [1, 2, 3]">
          <div class="head">
            <img src="img/people/wolf.png">
            <div class="name">Tom Wolf</div>
          </div>
          <div class="blurb">
            <div class="text">
              I believe government is strongest when it is operating in a transparent manner, 
              promoting public participation, and encouraging collaboration among all levels of 
              government and with residents, businesses, and nonprofit organizations. 
               </br></br>
              I know one way to increase transparency, participation, and collaboration is to open 
              up government and share data and information. In my Fresh Start plan, which was 
              released in February, I call for the creation of an Office of Data Analysis and 
              Program Management. This office will be responsible for overseeing the 
              implementation of an open data plan that includes the creation of an open data web 
              portal, the development of a departmental data catalogue with a schedule for 
              releasing and updating information, departmental-level assistance to help integrate 
              open data into daily activities, and regular public reporting on progress. 
               </br></br>
              By breaking down silos and encouraging widespread participation in the policy 
              process, Pennsylvania will be positioned to be a leader of government innovation. 

            </div>
          </div>
        </div>

      </div>
    </div>

</body>
</html>
